/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}

::selection{
    color: #fff;
    background: #6990F2;
}
.wrapper{
    padding: 10px 30px 10px 30px;
    position: absolute;
    width: 390px;
    height: 500px;
    /* left: calc(50% - 591px/2 + 0.5px);
    top: calc(50% - 769px/2 + 19.5px); */

    background: #FFFFFF;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


.wrapper form{
    width: 284px;
    height: 220px;
    display: flex;
    cursor: pointer;
    margin: 20px 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px dashed #0E5CA9;
}
form :where(i, p){
    color: #0E5CA9;
}
form i{
    font-size: 50px;
}
form p{
    margin-top: 15px;
    font-size: 16px;
}

section .row{
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    color: #0E5CA9;
    font-size: 30px;
}
section .details span{
    font-size: 14px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    justify-content: space-between;
}
.progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}
.content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #0E5CA9;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
}
.uploaded-area.onprogress{
    max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
}
.uploaded-area i.fa-check{
    font-size: 16px;
}

.save-button{
    position: absolute;
    width: 60px;
    height: 25px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
    width: 200px;
    height: 47px;
    border: none !important;
    right: 25%;
    top: 440px;

    background: #0E5CA9;
    border-radius: 15px;
}


.text-form h1{
    margin-top: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #040404;
}

.text-form p{
    font-family: 'Outfit';
    margin-top: 1px;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    /* line-height: 44px; */
    /* identical to box height */

    text-align: center;

    color: #8D8D8D;
}